@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

&.dual-compact{
    .nav-underline .nav-link:hover {
        color: var(--#{$variable-prefix}primary);
      }
    .nav-underline .active {
        color: $gray-300;
      }
}