@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

/*!


*
* Template: Hope-Ui - Responsive Bootstrap 5 Admin Dashboard Template
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for color variable.
*
*/


// Configuration
@import "./bootstrap/functions";
// Variables
// @import "./custom/variable";
@import "./bisec/variable";
@import "./bisec/variables/index";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";

@import "./customizer/variables";
@import "./customizer/reboot";
@import "./customizer/root";

// Components
@import "./customizer/components";
@import "./customizer/dark";
@import "./customizer/layouts";
@import "./customizer/utilities/utilities";
