@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.nav-slider{
    position: relative;
    .nav-link{
        &.active {
            background-color: transparent;
        }
    }
    .nav-item {
        z-index: 3;
    }
    .nav-slider-thumb {
        z-index: 1 !important;
        width: 100%;
        color: var(--#{$variable-prefix}primary);
        background: var(--#{$variable-prefix}primary);
    }
}