@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.sidebar{
    &.sidebar-default{
        .nav-link{
            &:not(.static-item){
                &:hover{
                    &:not(.active){
                        &:not([aria-expanded=true]){
                            background-color: rgba(var(--#{$variable-prefix}primary-rgb), .2);
                        }
                    }
                }
            }
        }
    }
}
