@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.sidebar {
    background-color: $card-bg;
    .navbar-brand {
        .logo-title {
            color: $white;
        }
    }
    .sidebar-header {
        border-color: $border-color;
    }
}
.sidebar-list{
    .navbar-nav{
        .nav-item{
            .nav-link.static-item{
                .default-icon{
                    color: $light;
                }
            }
        }
    }
}
