@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.tooltip-inner {
    box-shadow: 0 8px 16px rgba($black,.1), 0 2px 4px rgba($black,.1);
}