@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

@include media-breakpoint-down(md) {
	.fc-toolbar{
		flex-wrap: wrap;
        .fc-left{
            margin-bottom: 1rem;
        }
		.fc-right{
			.fc-button-group{
				margin-top: 1rem;
			}
		}
	}
}