@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.upload-icone {
    right: 69px;
    left: auto;
}
.profile-media {
	&:before {
        left: auto;
        right: 9px;
	}
}