@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

@each $state, $value in $theme-colors {
  $alert-background: shift-color($value, $alert-bg-scale);
  $alert-border: shift-color($value, $alert-border-scale);
  $alert-color: shift-color($value, $alert-color-scale);
  @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
    $alert-color: color.mix($value, color-contrast($alert-background), math.abs($alert-color-scale));
  }
  .alert-#{$state} {
    @include alert-variant($alert-background, $alert-border, $alert-color);
  }
}

.alert-solid {
    @each $state, $value in $theme-colors {
        &.alert-#{$state} {
            @include alert-variant($value, $value, #fff);
        }
    }
}

.alert-left {
    border: 0;
    border-left: $alert-borer-width $alert-borer-type;
    @each $state, $value in $theme-colors {
        &.alert-#{$state} {
            border-color: $value;
        }
    }
}
.alert-top {
    border: 0;
    border-top: $alert-borer-width $alert-borer-type;
    @each $state, $value in $theme-colors {
        &.alert-#{$state} {
            border-color: $value;
        }
    }
}
.alert-right {
    border: 0;
    border-right: $alert-borer-width $alert-borer-type;
    @each $state, $value in $theme-colors {
        &.alert-#{$state} {
            border-color: $value;
        }
    }
}
.alert-bottom {
    border: 0;
    border-bottom: $alert-borer-width $alert-borer-type;
    @each $state, $value in $theme-colors {
        &.alert-#{$state} {
            border-color: $value;
        }
    }
}
