@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.btn-border{
    &.active{
        border-color: var(--#{$variable-prefix}primary);
    }
}