@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.accordion-button{
    &::after{
        margin-left: unset;
        margin-right: auto;
    }
}