@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

$avatar-size: () !default;

$avatar-size: map.merge(
  (
    "30": 30,
    "35": 35,
    "40": 40,
    "45": 45,
    "50": 50,
    "60": 60,
    "70": 70,
    "80": 80,
    "90": 90,
    "100": 100,
    "110": 110,
    "120": 120,
    "130":130,
    "155": 155,
    "235":235

  ), $avatar-size
);