@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

$btn-icon-padding-y:      .25rem !default;
$btn-icon-padding-x:      .5rem !default;

$btn-icon-padding-y-sm:      .125rem !default;
$btn-icon-padding-x-sm:      .25rem !default;

$btn-icon-padding-y-lg:      .5rem !default;
$btn-icon-padding-x-lg:      1rem !default;