@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

$footer-font-size: 14px;
$footer-padding-x: .5rem !default;
$footer-padding-y: .5rem !default;