@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.content-inner {
    padding: calc(var(--bs-gutter-x, .75rem) * 3);
}

@include media-breakpoint-down(md) {
    .content-inner {
        padding: calc(var(--bs-gutter-x, .75rem) * 2);
    }
}