@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.profile-media {
    &::before {
        border-color: $border-color;
    }
}
.profile-dots-pills {
    background-color: $card-bg;
}