@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

.myChart{
    min-height: 230px !important;
}
.d-activity{
    min-height: 230px !important; 
}
.d-main{
    min-height: 245px !important; 
}