@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

@mixin bg-variant($parent, $color) {
  #{$parent} {
    color: shift-color($color, 10%);
    background-color: rgba($color,.2) !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus() {
      color: color.scale($color, $lightness: -15%);
      background-color: rgba($color,.3) !important;
    }
  }
}

@mixin bg-variant-dark($parent, $color) {
  #{$parent} {
    background-color: rgba(color.adjust(color.scale($color, $lightness: -30%), $lightness: 40%), .1)!important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus() {
      cursor: pointer;
      color: color.scale($color, $lightness: -15%);
      background-color: rgba(color.adjust(color.scale($color, $lightness: -30%), $lightness: 40%), .15) !important;
    }
  }
}